#map{position:absolute; top:0; bottom:0; width:100%;height:100%;}
#legend {
  padding: 10px;
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.1);  
  font-size: 12px;
}
.legende-position {
  position: absolute;
  top: 95px;
  float: left;
  background: rgba(255, 255, 255, 0.8);
  /*margin-left: 5px;background: #fff;*/
  margin:7px 0 0 10px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 4px;
  
}
#indicator {
  padding: 10px;
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.1);  
  font-size: 12px;
}
.ind-infos-position {
  position: absolute;
  bottom: 110px;  
  float: left;
  background: rgba(255, 255, 255, 0.8);
  margin: 10px 0 10px 12px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 4px;
}
#features {
  top: 0;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}
.legend-key {
  display: inline-block;
  border-radius: 10%;
  width: 15px;
  height: 10px;
  margin-right: 5px;
}
.marker {
  /*background-image: url('../../img/mapbox/marker-15.svg');
  background-color: #753F20;
  border-radius: 5%;
  cursor: pointer;*/
  width: 40px;
  height: 40px; 
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.mapboxgl-popup-content {
    box-shadow: 0 1px 10px rgba(0.5,0.5,0.5,0.5);
    padding: 10px 10px 5px;
}
hr{
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: #CCC;
}

